@import "../../Styles/Theme.scss";

.login-container {
  @include fullsize();
  background-color: $bg;

  @media only screen and (max-width: 600px) {
    $buttonHeight: 45px;

    .textbox-wrapper {
      height: fit-content !important;
      width: calc(100% - 40px) !important;
      margin: 0 auto;
      display: flex !important;
      flex-direction: column !important;
      border: none !important;
      .text-input {
        width: 100% !important;
      }
      .textbox-button {
        margin-top: 10px !important;
        font-size: 20px !important;
        height: $buttonHeight !important;
        line-height: 40px !important;
        width: 100% !important;
      }
    }
  }
}
