@import "../../Styles/Theme.scss";
@import "../../UtilityFiles/variables.scss";

.chat-container {
  @include fullsize();

  &.light {
    background-color: $bg;
    .dropdown-container {
      background-color: $bg_tp;
      box-shadow: $boxshadow;
      .action-toggle {
        &.active {
          background-color: $bg;
          color: $main;
          svg {
            color: $main !important;
          }
          transition: 0.25s ease-in-out;
        }
        &:not(.active) {
          background-color: $bg_tp;
          color: $bg;
          svg {
            color: $bg !important;
          }
          transition: 0.25s ease-in-out;
        }
        &:hover {
          cursor: pointer;
          // color: white;
          // svg {
          //   color: white;
          // }
          // background-color: rgba(0, 0, 0, 0.7);
          opacity: 0.9;
        }
      }
    }
  }
  &.dark {
    background-color: $bg_dark;

    .dropdown-container {
      background-color: $main_dark;
    }

    .chatbox {
      background-color: $bg_dark;
      .messagebox {
        border: 30px solid $bgDark;
        background-color: $bgDark;
      }
      .textbox-container {
        .textbox {
          .textbox-wrapper {
            .text-input {
              color: $text_bg_dark;
              background-color: $bgDark;
              border: 3px solid $bgDark;
            }
            .textbox-button {
              background-color: $bgDark;
              border: 3px solid $bgDark;
            }
          }
        }
      }
      .message {
        color: $bgModal;
        .message-container {
          .content-container {
            .content {
              background-color: $text_bg_dark;
            }
          }
          .username-container {
            .bottom-container {
              border: 1px solid $text_bg_dark;
              background-color: $bgDark;
              .username {
                color: $bg_dark;
              }
            }
          }
        }
      }
    }
  }
  display: grid;
  grid-template-rows: 100px calc(100% - 100px);

  &.times-hidden {
    .message {
      .bottom-container {
        :not(.username) {
          display: none;
        }
      }
    }
  }
}
