# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../../../:\Users\alext\Desktop\MyFiles\Concordia\Fall 2020\SOEN 387\Project\SOEN-387\SOEN-387\Assignment1\frontend\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
