$bgPrimary: rgb(40, 0, 151);
$bgSecondary: #514432;
$textPrimary: rgb(40, 0, 151);
$textSecondary: #e5dada;
$btnPrimary: ghostwhite;
$btnSecondary: rgb(207, 198, 233);
$btnOutline: skyblue;
$dropdownPrimary: #4c8bf5;
$dropdownSecondary: #5b91ea;
$dropdownOutlineBorder: rgba(68, 161, 205, 0.2);
$dropdownHover: #bab1b1;
$bgModal: rgba(0, 0, 0, 0.7);
$modalClose: black;

$bgDark: black;
$dropDownOutlineBorderDark: white;
@mixin flexCenter {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

@mixin flexColumn {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}
@mixin resetDisplay {
  padding: 0;
  margin: 0;
}
